.container {
	display: flex;
	/* align-items: flex-start; */
	/* align-items: flex-end; */
	/* align-items: center; */
	flex-direction: column;
}

.container div {
	border: 1px solid #ccc;
	padding: 10px;
}

.box-1{
	flex: 2;
	order: 2;
}

.box-2{
	flex: 2;
	order: 1;
}

.box-3{
	flex: 1;
	order: 0;
}